<footer>
    <p>
      {% if site.discord_server %}
        <a href="https://discord.gg/{{ site.discord_server }}" title="Discord">
          <svg><use xlink:href="#icon-discord"></use></svg>
        </a>
      {% endif %}
      {% if site.youtube_username %}
        <a href="https://www.youtube.com/@{{ site.youtube_username }}" title="YouTube">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://x.com/{{ site.twitter_username }}" title="Twitter">
          <svg><use xlink:href="#icon-x"></use></svg>
        </a>
      {% endif %} 
      {% if site.twitch_username %}
        <a href="https://twitch.tv/{{ site.twitch_username }}" title="Twitch">
          <svg><use xlink:href="#icon-twitch"></use></svg>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}

    </p>

    {% include links.html %}

    <p>
      <span>© 2024 BlueBird Rivals</span> - A BlueBirdRP Subsidiary</a>
    </p>
</footer>

{% assign social_urls = '' %}
{% if site.discord_server %}
    {% assign social_urls = social_urls | append: '"https://discord.gg/' | append: site.discord_server | append: '",' %}
{% endif %}
{% if site.facebook_username %}
    {% assign social_urls = social_urls | append: '"https://www.facebook.com/' | append: site.facebook_username | append: '",' %}
{% endif %}
{% if site.twitter_username %}
    {% assign social_urls = social_urls | append: '"https://twitter.com/' | append: site.twitter_username | append: '",' %}
{% endif %}
{% if site.twitch_username %}
    {% assign social_urls = social_urls | append: '"https://twitch.tv/' | append: site.twitch_username | append: '",' %}
{% endif %}
{% if site.instagram_username %}
    {% assign social_urls = social_urls | append: '"https://www.instagram.com/' | append: site.instagram_username | append: '",' %}
{% endif %}
{% if site.youtube_username %}
    {% assign social_urls = social_urls | append: '"https://www.youtube.com/@' | append: site.youtube_username | append: '",' %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>

<!-- Include the script that allows Netlify CMS login -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include Google Analytics script -->
{% include stats.html %}

<!-- Include extra scripts -->
{% include extra-js.html %}
